---
layout: page
title: Say Hello
permalink: /contact/
---

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
      <input type="text" name="_replyto" class="field-light" placeholder="Email Address" required autofocus>
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="What would you like to say?" required></textarea>
      <select name="restaurant" class="field-light">
        <option value="" selected disabled>Best name for an upscale restaurant that only serves hushpuppies?</option>
        <option value="Club Puppy">Club Puppy</option>
        <option value="Hush">Hush</option>
        <option value="Solo Pup">Solo Pup</option>
        <option value="Corn, The Meal">Corn, The Meal</option>
        <option value="Batter Up">Batter Up</option>
      </select>
      <input type="text" name="nono" value="" style="display: none" />
      <button type='submit' class="button button-blue button-big mobile-block">Say Hello</button>
    </form>
  {% else %}
    <form action="https://formspree.io/neontunablog@fastmail.com" method="POST" class="form-stacked">
      <input type="text" name="_replyto" class="field-light" placeholder="Email Address" required autofocus>
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="What would you like to say?" required></textarea>
      <select name="restaurant" class="field-light">
        <option value="" selected disabled>Best name for an upscale restaurant that only serves hushpuppies?</option>
        <option value="Club Puppy">Club Puppy</option>
        <option value="Hush">Hush</option>
        <option value="Solo Pup">Solo Pup</option>
        <option value="Corn, The Meal">Corn, The Meal</option>
        <option value="Batter Up">Batter Up</option>
      </select>
      <input type="text" name="nono" value="" style="display: none" />
      <input type="submit" class="button button-blue button-big mobile-block" value="Say Hello">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
