---
layout: page
title: Say Hello
permalink: /contact/
---

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="Email Address">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="What would you like to say?"></textarea>
      <select name="restaurant" class="field-light">
        <option value="" selected disabled>Best name for an upscale restaurant that only serves hushpuppies?</option>
        <option value="Club Puppy">Club Puppy</option>
        <option value="Hush">Hush</option>
        <option value="Solo Pup">Solo Pup</option>
        <option value="Corn, The Meal">Corn, The Meal</option>
        <option value="Batter Up">Batter Up</option>
      </select>
<!--       <input type="hidden" name="_subject" value="New submission!" />
      <input type="text" name="_gotcha" style="display:none" /> -->
      <button type='submit' class="button button-blue button-big mobile-block">Say Hello</button>
    </form>
  {% else %}
    <form action="https://api.formbucket.com/f/{{ site.formbucketid }}" method="POST" class="form-stacked">
    <!-- <form action="https://formspree.io/{{ site.email }}" method="POST" class="form-stacked"> -->
      <input type="text" name="email" class="field-light" placeholder="Email Address">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="What would you like to say?"></textarea>
      <select name="restaurant" class="field-light">
        <option value="" selected disabled>Best name for an upscale restaurant that only serves hushpuppies?</option>
        <option value="Club Puppy">Club Puppy</option>
        <option value="Hush">Hush</option>
        <option value="Solo Pup">Solo Pup</option>
        <option value="Corn, The Meal">Corn, The Meal</option>
        <option value="Batter Up">Batter Up</option>
      </select>
<!--       <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
      <input type="hidden" name="_subject" value="New submission!" />
      <input type="text" name="_gotcha" style="display:none" /> -->
      <input type="submit" class="button button-blue button-big mobile-block" value="Say Hello">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
