<footer class="center">
  <div class="measure">
    <small>
      Justin is a full time software developer, part time BBQ smoker, IoT mega dorkus, 
      and butler to Ruby <img src="/assets/Ruby_logo.svg" alt="Ruby logo" width="14"> (<a href="/assets/ruby_the_cat.jpg">the cat</a>).  <br>
      <a href="https://twitter.com/neontunafishy">@neontunafishy</a> on Twitter | 
      <a href="https://github.com/neontuna">neontuna</a> on Github | <a href="feed.xml">RSS</a>
    </small>
  </div>
</footer>

<script data-goatcounter="https://neontuna.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
