<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ site.url }}" class="site-title" data-text="{{ site.title }}">{{ site.title }}</a>
      <nav class="site-nav">
        {% include navigation.html %}
        <div class="svg-background"></div>
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>

<script>
  function blackCat() {
    if (Math.floor(Math.random() * 5) > 0) return;

    const siteTitleEl = document.querySelector('.site-title');

    siteTitleEl.classList.add('glitch');

    setTimeout(() => { siteTitleEl.classList.remove('glitch'); }, 3000);
  }

  setInterval(blackCat, 4000);
</script>